
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%% 任务书封面
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
\resizebox{3.74cm}{2.78cm}{\includegraphics{logo1.png}}
\resizebox{10.9cm}{2.86cm}{\includegraphics{logo2.png}}
\par{\vspace{4cm}}

\begin{center}
{\heiti \xiaochuhao 混凝土结构设计}\\\vspace{.7cm}
{\heiti \yihao 课程报告任务书}
\end{center}
\newpage


%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%% 任务书内容
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
\noindent {\heiti \zihao{4} 一、报告选题}
\begin{enumerate}
\item 装配式混凝土结构
\item 现代木结构
\item 中国古代木结构
\end{enumerate}
\indent 本任务书只给出报告的大方向，具体内容需各组自行讨论决定。
可以涉及建筑设计、结构设计、施工技术、施工组织、各种结构形式，甚至可以是某个案列的研究。
报告涉及的内容既不要过大也不要过小。最终提交纸质报告书不少于60页，课堂演讲至少20分钟不超过30分钟。
\par{}
\vspace{.5cm}

\noindent {\heiti \zihao{4} 二、要求}
\begin{enumerate}
\item 组长做好协调、分工。
\item 收集关于课题的图书、论文、图片、视频等资料。
\item 小组各成员针对报告大题目及自己阅读的内容相互之间进行交流。组长负责组织讨论会（至少三次）、
      每次均应拍摄照片四至五张，同时做好小组讨论的音频录制，然后整理出讨论记录。
\item 根据讨论结果拟定报告具体题目、内容，大纲。
\item 分工合作撰写报告及演讲幻灯片
\item 给全班同学做报告。
\item 整理成果提交给任课教师。
\end{enumerate}

\noindent {\heiti \zihao{4}  三、提交成果}
\begin{enumerate}
\item 打印书面报告一份。
\item 打印组长对各组员的表现报告一份（里面应真实、公平评价各组员的贡献）。
\item 光盘一张（此前收集的资料、拍摄照片、录制的音频以及正式版的书面报告、演讲幻灯片等文件）。
\end{enumerate}

\newpage
\noindent {\heiti \zihao{4}  四、分组}
\par{}\vspace{.5cm}
按班级分组，由于1班人数较多，所以分为两组：\vspace{.5cm}

\begin{tabular}{lc} 
	题\hspace{1.1cm}目:           & 学生名单 \\ \hline
	\firstC{装配式混凝土结构、木结构} & \secondC{ {{range .土木1501}} {{.}}\ {{end}}} \\
	\firstC{装配式混凝土结构} & \secondC{ {{range .土木1502}} {{.}}\ {{end}}} \\
	\firstC{装配式混凝土结构} & \secondC{ {{range .土木1503}} {{.}}\ {{end}}} \\
	\firstC{现代木结构} & \secondC{ {{range .土木1504}} {{.}}\ {{end}}} \\
	\firstC{中国古代木结构} & \secondC{ {{range .土木1505}} {{.}}\ {{end}}} \\
\end{tabular}\\
